{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>{{ article.getTitle() }}</h1>
                <h3>{{ article.getSubtitle() }}</h3>
                {{ article.getBody() }}
            </div>
        </div>
    </div>
</article>

<hr>

<div class="container">
    <div class="row">
        <h3 class="col-lg-8 col-md-10 mx-auto">{{ article.comments.count }} Comments</h3>
    </div>
    
    <!-- Comments Form -->
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {{ form_start(commentForm) }}
                    {{ form_row(commentForm.name) }}
                    {{ form_row(commentForm.email) }}
                    {{ form_row(commentForm.comment) }}
                    <button type="submit" class="btn btn-secondary">Submit</button>
                {{ form_end(commentForm) }}
            </div>
        </div>
    </div>

    {% for comment in article.comments %}
    <div class="row">
        <div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.getName() }} <small>{{ comment.getCreatedAt()|date(null, "Europe/Paris") }}</small></h5>
                <blockquote>{{ comment.getComment() }}</blockquote>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
